<div id="login_form" class="prepend-1 append-1 span-8">
	<h1>Log in</h1>
	<%= form_tag sessions_path do %>
		<div class="field span-8 last">
			<%= label_tag :email, nil %>
			<%= text_field_tag :email, params[:email], :class => "text span-8" %>
		</div>
		<div class="field span-8 last">
			<%= label_tag :password, nil %>
			<%= text_field_tag :password, '', :class => "text span-8" %>
		</div>
		<div class="field span-8 last">
			<%= check_box_tag :remember_me, 1, params[:remember_me] %>
			<%= label_tag :remember_me, nil, :class => "" %>
		</div>
		<div class="actions span-8 last">
			<%= submit_tag "Log in" %>
		</div>
	<% end %>
	<div id="forgot_password" class="">
		<h3>Forgot Password?</h3>
		<%= render 'forgot_password_form' %>
	</div>
</div>


<div id="external_login" class="prepend-1 append-1 span-8 last">
	<h3>Sign in with Facebook or Twitter</h3>
	<%= link_to '', auth_at_provider_path(:provider => :twitter), :class => 'signin facebook' %>
	<%= link_to '', auth_at_provider_path(:provider => :facebook), :class => 'signin twitter' %>
</div>