<%= form_for content do |f| %>

  <div class="field span-18 last">
    <%= f.label :stack_id %>
    <%= f.hidden_field :stack_id, :class => "title  span-18 last", :value => @stack.id %>
  </div>
  <div class="field span-18 last">
    <%= f.label :description %>
    <%= f.text_field :description, :class => "title  span-18 last" %>
  </div>
  <div class="field span-18 last">
    <%= f.label :url %>
    <%= f.text_field :url, :class => "title  span-18 last" %>
  </div>
  <div class="field span-18 last">
    <%= f.label :source %>
    <%= f.text_field :source, :class => "title  span-18 last" %>
  </div>
  <div class="actions span-18 last">
    <%= f.submit :class => "button orange large  span-18 last" %>
  </div>
<% end %>
