<p>
  <b>Title:</b>
  <%= @stack.title %>
</p>
<p>
	<%= render :partial => 'contents/form', :locals => { :stack => @stack, :content => Content.new } %>
</p>
<p>
	<% @stack.contents.each do |c| %>
		Stack: <%= c.description %>
	<% end %>
</p>


<%= link_to 'Edit', edit_stack_path(@stack) %> |
<%= link_to 'Back', stacks_path %>
