<header class="prepend-top prepend-1 span-10 append-1">
	<h1>Educational resource gathering made simple and social.</h1>
</header>
<div id="external_signup" class="external_signup prepend-1 span-10 append-1 append-bottom">
	<h3>Sign up now for free!</h3>
	<%= link_to image_tag("facebook-login-button.png", :height=>'29px', :border=>0, :class => ''), auth_at_provider_path(:provider => :twitter) %>
	<%= link_to image_tag("twitter-login-button.png", :height=>'29px', :border=>0, :class => ''), auth_at_provider_path(:provider => :facebook)  %>
	<%= link_to "I don't have a Facebook or Twitter account", "#" , :id => "show_external_signup_form", :class => "prepend-top span-10" %>
</div>
<div id="signup_form" class="hide signup_form prepend-1 span-10 append-1 append-bottom">
	<h3>Sign up below</h3>
	<%= link_to image_tag("close.png", :height =>'25px'), "#", :class => "close span-1", :id => "signup_close" %>
	<%= render :partial => 'users/signup_form', :locals => { :user => User.new } %>
</div>
<hr/>
<section class="features">
	<ul class="prepend-top prepend-1 span-10 append-1 append-bottom">
		<li class="feature-8">
			<h3>One, central location to learn</h3>
			<h4>Not links scattered across the internet</h4>
		</li>
		<li class="feature-1">
			<h3>Simple, quick, &amp; easy</h3>
			<h4>Organize and share in seconds</h4>
		</li>
		<li class="feature-2">
			<h3>Consume while on the go</h3>
			<h4>Accessible on most mobile devices</h4>
		</li>
		<li class="feature-5">
			<h3>Discussions around a topic</h3>
			<h4>Insights from student conversations</h4>
		</li>
	</ul>
</section>
<!--
<hr/>
<section class="schools">
	<ul class="prepend-top prepend-1 span-10 append-1 append-bottom">
		<li>
			<p>Ask us about putting your school logo here</p>
		</li>
	</ul>
</section>
-->