<!DOCTYPE html>
<html>
<head>
  <title>Stacks - Educational resource gathering made simple and social.</title>
  <meta name="viewport" content="width=790">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
	<%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
	<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie', :media => "screen, projection" %><![endif]-->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="app">
	<div id="main_container" class="container mobile showgrid">
		<header class="user_nav prepend-1 span-18 append-1">
			User navigation
		</header>
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
		<% if current_user %>
    	<div id="current_users"> Currently active users: <%= current_users_list %></div>
  	<% end %>
  	<section class="prepend-top append-bottom">
			<%= yield %>
		</section>
		<footer class="prepend-top prepend-1 span-18 append-1">
			footer
		</div>
	</div>

</body>
</html>
